html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

canvas {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

h1 {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
